@model MyRockConcerts.Web.ViewModels.Groups.GroupDetailsViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">WE ARE @Model.Name.ToUpper()</h1>
    </div>
    <br />
    <div class="row">
        <div class="col-8 d-flex justify-content-start">
            <img src="@Model.ImgUrl" height="300" class="d-block w-100" alt="...">
        </div>
        <div class="col-4 d-flex">
            <div class="row">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
    <br />
    <div class="text-md-left">
        <p>
            Genres:
            @foreach (var genre in Model.Genres)
            {
                <a href="#" class="alert-link">@genre.Name</a>
            }
        </p>
    </div>
    <br />
    <h3 class="display-5">Members:</h3>
    <div class="row row-cols-1 row-cols-md-3">
        @if (Model.Members != null)
        {
            @foreach (var member in Model.Members)
            {
                <partial name="_MemberPartial" model="member" />
            }
        }
    </div>
    <br />
    <h3 class="display-5">Albums:</h3>
    <div class="row row-cols-1 row-cols-md-3">
        @if (Model.Albums != null)
        {
            @foreach (var album in Model.Albums)
            {
                <partial name="_AlbumPartial" model="album" />
            }
        }
    </div>
</div>