@model MyRockConcerts.Web.ViewModels.Genres.GenresListViewModel

@{
    ViewData["Title"] = "AllGenres";
}

<div class="row row-cols-1 row-cols-md-4">
    @foreach (var genre in Model.Genres)
    {
        <div class="col mb-4">
            <div class="card-body align-self-md-center">
                <a class="alert-link" asp-controller="Groups" asp-action="ByGenre" asp-route-id="@genre.Id">@genre.Name</a>
            </div>
        </div>
    }
</div>


