@model MyRockConcerts.Web.ViewModels.InputModels.Venues.VenueCreateInputModel
@{
    ViewData["Title"] = "Create Venue";
}

<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
</div>

@if (this.TempData["Error"] != null)
{
    @await Component.InvokeAsync("ErrorAlert", new { message = this.TempData["Error"] })
}

<form method="post" asp-action="Create">
    <div class="form-group row">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <label asp-for="ImgUrl"></label>
        <input asp-for="ImgUrl" type="text" class="form-control" placeholder="ImgUrl">
        <span asp-validation-for="ImgUrl" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <label asp-for="Country"></label>
        <input asp-for="Country" type="text" class="form-control" placeholder="Country">
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <label asp-for="City"></label>
        <input asp-for="City" type="text" class="form-control" placeholder="City">
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <label asp-for="Address"></label>
        <input asp-for="Address" type="text" class="form-control" placeholder="Address">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <label asp-for="Capacity"></label>
        <input asp-for="Capacity" type="number" class="form-control" placeholder="Capacity">
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>
    <hr />
    <div class="text-center">
        <input type="submit" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}